@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

/* Estilos del cotizador */

.container {


    width: 100%;
    height: 100%;
    background-color: #34495E;
    color: aliceblue;
}

.container-cotizador {
    display: flex;
    flex-direction: row;
}


.box-titulo {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
}

.box-titulo #titulo {
    text-align: center;
}

#texto {
    text-align: center;
}

/*Caja Lista 1*/

.box-lista1 {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-bottom: 2.5%;
}

.sub-texto {
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
}

.etiqueta {
    padding: 10px;
}

/*estilo boton select*/

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: .20rem;
    width: 300px;
    font-size: 14px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
    background-color: #fff;
    font-weight: 600;
}



