@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}


html,
body {
    min-height: 100vh;
    min-width: 100vw;
  
}

main {
    min-height: 80vh;
    min-width: 100vw;
    background-color: #34495E;
    color: aliceblue;
}

footer {
    min-height: 30vh;
    min-width: 100vw;
}



/* Estilos del cotizador */

.container-cotizador {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2.5%;
}

.box-titulo {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    
}


.box-titulo #titulo {
    text-align: center;
}

#texto {
    text-align: center;
}

/*Caja Lista 1*/

.box-lista1 {
    box-sizing: border-box;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5%;
    border-radius: 5%;
    max-width: 450px;
    height: auto;
}

.sub-texto {
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
}

.etiqueta {
    padding: 10px;
}

/*estilo boton select*/

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: .20rem;
    width: 300px;
    font-size: 14px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
    background-color: #fff;
    font-weight: 600;
}

/*box lista 2*/

.box-lista2 {
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5%;
    border-radius: 5%;
    max-width: 450px;
    height: auto;
    
}

.input-group {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: aliceblue;
    border-bottom: 2px solid #AEAEAE;
    height: 40px;
    padding-right: 0.25rem;
    text-align: center;
    font-size: 1em;
    width: 100px;
}

.input-group:focus {
    background-color: transparent;
    border: none;

}

.input-group::before {
    border: none;
}

.input-group[type=number]::-webkit-inner-spin-button,
.input-group[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;

}

.etiqueta2 {
    display: inline-block;
    width: 300px;
    text-align: right;
}

/*box lista 3*/

.box-lista3 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5%;
    border-radius: 5%;
    max-width: 500px;
    height: auto;

}

.boton {
    padding-top: 20px;

}

.boton button {
    width: 300px;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: bisque;
}