@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}


.caja {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: bisque;
}

.logo{
    padding: 5px 0 0 25px;
    width: 30%;
}

.logo-img {
    border-color: 10px black solid ;
    width: 30%;
    height: auto;
    background-color: bisque;
}


.menu {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    background-color: bisque;
    padding: 0 45px 0px 0px;
}

.menu li {
    display: inline;
    margin: 0 0 0 15px;
}

.menu a {
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    text-decoration: none;
}

.menu a:hover {
    color: #c78000;
    text-decoration: underline;

} 