@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.header {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    background: whitesmoke;
    color: black;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
}

.logo img {
    max-width: 40%;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .left-text {
        margin-bottom: 10px;
        text-align: center;
    }

    .right-texts {
        margin-top: 10px;
        justify-content: center;
        text-align: center;
    }

    .right-texts p {
        margin: 0;
    }
}

/* Main */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 805px;

}

/*solo afecta a lado izquierdo*/

.item1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.item1 img {
    max-width: 100%;
}

/*solo afecta al lado derecho*/

.item2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 30px;
}

.item2 i {
    color: #f49f17;
    height: 40px;
    width: 40px;
}

.item2 form {
    display: flex;
    flex-direction: column;

}

.item2 input {
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: solid 2px #06244c;
    padding: 0 15px;
    font-size: 18px;
    margin: 20px 0;
    height: 100%;
}

.item2 input::placeholder {
    color: #f49f17;
    text-align: center;
    font-weight: 10px;
}

.item2 button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #06244c;
    color: #f49f17;
    cursor: pointer;
}

.item2 p {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.item2 a {
    text-decoration: none;
    color: #06244c;

}

@media (max-width: 767px) {
    .flex-container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        max-height: 100%;
    }

    .item2 form {
        margin: 0% auto;
    }

    .item1 img {
        margin-bottom: 20px;
        display: none;
    }
}



/* Footer */
footer {
    background-color: #06244c;
    color: #fff;
}

.center-text a {
    text-decoration: none;
    color: #f49f17;

}

.flex-containerft {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-containerft a {
    text-decoration: none;
    color: #f49f17;
}


.left-text {
    display: flex;
    flex-direction: column;
    margin: 0% auto;
}

.center-text {
    display: flex;
    flex-direction: row;
    margin: 0% auto;
}

.right-text {
    margin: 0% auto;
    display: flex;
    flex-direction: row;
    height: 100%;
}


.right-text .material-symbols-outlined {
    height: 100%;
    font-weight: 20px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}



@media (max-width: 767px) {
    .flex-containerft {
        flex-direction: column;
        text-align: center;
    }

    .left-text,
    .right-text {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .center-image {
        flex-basis: 100%;
        max-width: 100%;
    }
}