@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');






* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

*::before,
*::after {
    box-sizing: border-box;
}






.header {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    background: whitesmoke;
    color: black;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
}

.logo img {
    max-width: 40%;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .left-text {
        margin-bottom: 10px;
        text-align: center;
    }

    .right-texts {
        margin-top: 10px;
        justify-content: center;
        text-align: center;
    }

    .right-texts p {
        margin: 0;
    }
}

/*inicia el cuerpo del main*/

main h1 {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #06244c;
}

.intro{
    padding: 10px;
    flex-direction: row;
    color: #06244c;
    width: 500px;
    height: auto;
    margin: 0% auto;
    justify-content: center;
    display:inline-block;
    border: 1rem solid #06244c;
}


.container-flex {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0% auto;
    flex-wrap: wrap;
}

.container-flex p {
    padding: 5px;

}


.form-check {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.container-flex .inputs {
    background: transparent;
    height: 40px;
    font-size: 18px;
    width: 310px;
    border: 0;
    border-bottom: 2px solid #f49f17;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
    transition: 0.3s ease all;
    box-sizing: border-box;
}

.container-flex label {
    padding: 10px;
    color: #06244c;
    text-align: right;
    width: 300px;
    font-size: 18px;
}

.box1 {
    display: flex;
    flex-direction: row;
}

.box1 h2 {
    padding: 10px;
    color: #06244c;
    font-size: 18px;
    text-align: center;
}

.box2 {
    display: flex;
    align-self: center;
    justify-self: flex-end;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}


button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}




/* 
.box2 .boton-cont {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 100px;
    color: #f49f17;
    background: #06244c;
}
 */




















/* Footer */
footer {
    background-color: #06244c;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.center-text a {
    text-decoration: none;
    color: #f49f17;

}

.flex-containerft {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-containerft a {
    text-decoration: none;
    color: #f49f17;
}


.left-text {
    display: flex;
    flex-direction: column;
    margin: 0% auto;
}

.center-text {
    display: flex;
    flex-direction: row;
    margin: 0% auto;
}

.right-text {
    margin: 0% auto;
    display: flex;
    flex-direction: row;
    height: 100%;
}


.right-text .material-symbols-outlined {
    height: 100%;
    font-weight: 20px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}



@media (max-width: 767px) {
    .flex-containerft {
        flex-direction: column;
        text-align: center;
    }

    .left-text,
    .right-text {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .center-image {
        flex-basis: 100%;
        max-width: 100%;
    }
}