@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



* {

    margin: 0;
    padding: 0;
}

body {
    background:black;
}


/* header formato simple */


header {
    padding: 20px 0;
    background: white;
    color: black;
    font-family: 'Konkhmer Sleokchher', cursive;

}

.caja {
    width: 940px;
    position: relative;
    margin: 0px auto;
}

.logo {
    display: flex;
    text-align: right;
}

.logo-img {
    width: 80px;
    height: 30px;
}


nav {
    display: flex;
    position: absolute;
    top: 10px;
    right: 0px;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}


nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78000;
    text-decoration: underline;

}

/*inicia el cuerpo del main*/

.box-titulo {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding-bottom: 10px;
    width: 280px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
    font-family: 'Open Sans', sans-serif;
}

.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;

}


.box-lista1 {
    display: flex;
    width: 400px;
    height: 720px;
    border-radius: 5px;
    border: 1px solid #39c;
    color: #50505a;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box; 
}

.box-lista2 {
    display: flex;
    width: 400px;
    height: 720px;
    border-radius: 5px;
    border: 1px solid #39c;
    color: #50505a;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box; 
}

.container-flex input,
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
    text-align: right;
}

.container-flex input:focus {
    border-bottom: 2px solid #78788c
}

.container-flex h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    font-weight: bold;
}

.container-flex p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
}



.container-flex button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s
}


.container-flex button:hover {
    background: #78788c;
    color: #fff
}


.boton {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000
}

.container-flex span {
    margin: 0 5px 0 15px
}

#boton {
    display: none;
}


/*footer*/

footer {
    background: #f49f17;
    padding: 20px;
    margin: 0% auto;
}


footer img {
    width: 80px;
    height: 80px;
}